@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}

@section Choosen {
    <ul class="nav">
        <li>
            <a asp-controller="Admin" asp-action="Index">
                <i class="nc-icon nc-bank"></i>
                <p style="font-weight: 600;">Dashboard</p>
            </a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Account">
                <i class="nc-icon nc-single-02"></i>
                <p style="font-weight: 600;">Account</p>
            </a>
        </li>
        <li  class="active ">
            <a asp-controller="Admin" asp-action="Users">
                <i class="nc-icon nc-user-run"></i>
                <p style="font-weight: 600;">Users</p>
            </a>
        </li>
    </ul>
}
